.navbar {
  background-color: #2775ef;
}

.navbar-nav > li {
  margin-left: 130px;
  margin-right: 30px;
}

nav .navbar-nav li .col_white {
  color: white !important;
}

.deals_of_the_day,
.books_and_music_instruments {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.img {
  width: 150px;
  height: 200px;
}

.offer {
  color: green;
  opacity: 0.7;
  text-decoration: none;
  font-size: 11px;
}

.info {
  color: gray;
  font-size: 12px;
  text-decoration: none;
}

.logo_size {
  width: 100px;
  height: 60px;
}

.col_grey {
  color: gray;
}
